**/.DS_Store_/**

**/__pycache__/**
__pycache__/**
**.pyd
**.pyo
**.pyc

cached_file
data/**
**/savedmodels/**
**/predictions/**
build/**
_build/**
**/.ipynb_checkpoints/**

README.md
.DS_Store
*.rst
fresco/models/cnn.py
